.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  /* background: rgba(0, 0, 0, 0.3); */
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.text{
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.buttons button {
  margin-left: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.home-btn{
  background: transparent;
  color: white;
  /* box-shadow: 0 0 10px rgba(0, 0, 255, 0.8); */
}

.signup, .login {
  background: purple;
  color: white;
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.8);
}

.signup:hover, .login:hover,.home-btn:hover {
  box-shadow: 0 0 20px rgba(128, 0, 128, 1);
  transform: scale(1.05);
}
